<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Books & Authors</title>
</head>
<body>
    <nav class="menu">
        <span class="navbar-brand mb-0 h1">Library</span>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/books">Books</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/authors">Authors</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <h1>{{book.title}}</h1>
        <div class="info">
            <p><span>ID: </span>{{book.id}}</p>
            <p><span>Description: </span>{{book.desc}}</p>
            <p><span>Authors: </span></p>
            <ul>
                {% for author in book.authors.all %}
                <li>{{author}}</li>
                {% endfor %}
            </ul>
        </div>

        {% if authors %}
        <form action="/books/{{book.id}}/assign" method="POST">
            {% csrf_token %}
            <label for="author_id">Add Author</label>
            <select class="form-control" name="author_id">
                {% for author in authors %}
                <option value="{{author.id}}">{{author}}</option>
                {% endfor %}
            </select>
            <div class="btn">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
        {% endif %}
    </div>
</body>
</html>